[Application]
name=Pacman
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=pacman:main

[Python]
version=3.7.4

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = arcade==1.3.7

# To bundle packages which don't publish wheels, or to include directly wheel files
# from a directory, see the docs on the config file.

# Other files and folders that should be installed
files = assets/
    Player.py
    Wall.py
    Ghost.py